div
{
	text-align: center;
}
header
{
	background-color: white;
	position: fixed;
	z-index: 2;
	padding-right: 185px;

	
}



#i1
{
	padding-right: 400px;
}


#i2
{

	
padding-left: 300px;	
	
}


img
{
	width: 150px;
	height: 150px;
	
}

#menu
{
		background-image: url(http://www.objectifconcours.com/wp-content/uploads/2015/01/Espace-etudiant.png);
	   
	    height: 3500px;
	    width: 1500px;
	    background-size: 2000px;
}

footer
{
	
	background-color: #979A99;
	width: 1500px;



}

#esig
{
	padding-left: 60px;
	
	
}

#para
{
	
  margin-left: 700px;
}

#b1
{
	padding: 50px;
	position: absolute;
	bottom: 1px;
	left: 100px;
	z-index: 1;
	font-weight: bold;
	


}



button:hover /* Apparence au survol des liens */
{
   background-color: #06EDCE;
 
}

#b2
{
	padding: 50px;
	position: absolute;
	bottom: 1px;
	left: 1000px;
	z-index: 1;
	font-weight: bold;




}

#menu1
{
	padding: 70px;

	background-color: #C2DBD8;
	position:relative;
	top:2000px;
	
}

.flotte
{
	float: left;

}

#pli
{
	margin-left: 780px;
	color: #0BB9D4;
	font-weight: bold;
}

#menu2
{
	padding: 70px;

	background-image: url(http://www.publicdomainpictures.net/pictures/60000/velka/grey-gradient-background.jpg);
	position:relative;
	top:2000px;
	
}

#menu3
{
	padding: 70px;

	background-color: white;
	position:relative;
	top:2000px;
	
}

.pli1
{
	margin-left: 780px;
	color: #0BB9D4;
	font-weight: bold;
}

.pli2
{
	margin-left: 780px;
	color: #0BB9D4;
	font-weight: bold;
}


#b3
{
	padding: 50px;
	position: absolute;
	bottom: 1px;
	left: 600px;
	z-index: 1;
	font-weight: bold;
}

p.titre {
  background:#DED983;
  color:#345071;
  padding:.2em .3em;
  font-size:1.2em;
  border:2px outset #DED983;
  position:relative;
  margin-bottom:-1em;
  width:10em;
  margin-left:1em;
  margin-top:1em;
}

fieldset {
  border:none;
  margin-bottom:1em;
  width:24em;
  padding-top:1.5em;
  height: 15em;
}



/* fieldset coordonnees */
fieldset#coordonnees {
  background:#A4D8EE;
  border:outset #A4D8EE;
}

#coordonnees label {
  position:absolute;
  font-size:90%;
  padding-top:.2em;
  left:20px;
}

#coordonnees input {
  margin-left:9em;
  line-height:1.4em;
  margin-bottom:.2em;
}
#civilite 
{
  font-size:90%;
}

#civilite input {
  margin-left:9em;
}

#civilite input + input 
{
  margin-left:1em;
}
#sec
{
	position: absolute;
	top:400px;
	left:500px;
}

#sec1
{
	position: absolute;
	top:400px;
	left:350px;
}

#b4
{
	padding: 10px;
	position: relative;
	bottom: 90px;
	left: 300px;
	z-index: 1;
	font-weight: bold;

}

#b5
{
	padding: 10px;
	position: absolute;
	bottom: 150px;
	left: 50px;
	z-index: 1;
	font-weight: bold;
}

#pa
{
	margin-left:130px;
	font-size: 20px;
}

p.titre {
  background:#DED983;
  color:#345071;
  padding:.2em .3em;
  font-size:1.2em;
  border:2px outset #DED983;
  position:relative;
  margin-bottom:-1em;
  width:10em;
  margin-left:1em;
  margin-top:1em;
}

fieldset.fiel1 {
  border:none;
  margin-bottom:1em;
  width:44em;
  padding-top:1.5em;
  height: 35em;
}



/* fieldset coordonnees */
fieldset#inscrit {
  background:#A4D8EE;
  border:outset #A4D8EE;
}

#inscrit label {
  position:absolute;
  font-size:90%;
  padding-top:.2em;
  right:500px;
}

#inscrit input {
  margin-left:20em;
  line-height:1.4em;
  margin-bottom:.2em;
}

#b6 
{
	padding: 10px;
	position: absolute;
	bottom: 50px;
	left: 350px;
	z-index: 1;
	font-weight: bold;
}

#sec5
{
	background-color: #405B9A ;
    padding: 200px;
	position: absolute;
	top:400px;
	left: 430px;
	padding-bottom: 150px;
	border-radius: 20px;
	
}



