div
{
	text-align: center;
}
header
{
	background-color: white;
	position: fixed;
	z-index: 2;
	padding-right: 185px;

	
}



#i1
{
	padding-right: 400px;
}


#i2
{

	
padding-left: 300px;	
	
}


img
{
	width: 150px;
	height: 150px;
	
}




#menu2
{
		background-image: url(http://www.objectifconcours.com/wp-content/uploads/2015/01/Espace-etudiant.png);
	   
	    height: 3500px;
	    width: 1500px;
	    background-size: 2000px;

}

footer
{
	
	background-color: #979A99;
	width: 1500px;



}

#esig
{
	padding-left: 60px;
	
	
}

#para
{
	
  margin-left: 700px;
}

#sec3
{
	background-color: #405B9A ;
    padding: 40px;
	position: absolute;
	top:400px;
	left: 430px;
	padding-top: 100px;
	padding-bottom: 200px;
	border-radius: 20px;
	
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    padding: 10px;
    background-color: #B4AF91;
    
}
th
{
    border: 1px solid black;
    padding-right: 160px;
    padding-left: 160px;
    

    
 }

td 
{
    border: 1px solid black;
    padding: 40px;

}

#sec4
{
	background-color: #405B9A;
    padding: 50px;
	position: absolute;
	top:400px;
	left: 20px;
	padding-bottom: 150px;
	border-radius: 20px;
	
}

.p1
{
	position:absolute;
	left: 360px;
	bottom: 780px;
	font-weight: bold;
	
}


#b
{
	 position:absolute;
	 left: 380px;
	 top: 660px;
	 padding: 20px;
}



.conte
{
	float:left;
	
	

}

.im1
{
	height: 400px;
	width: 350px;
	padding-top: 220px;

}

.pic
{
	color: white;
	margin-left: 700px;
	padding-bottom: 2000px;
}

#sec5
{
	background-color: #405B9A ;
    padding: 200px;
	position: absolute;
	top:400px;
	left: 430px;
	padding-bottom: 150px;
	border-radius: 20px;
	
}


#bE
{
	 position:absolute;
	 left: 280px;
	 top: 660px;
	 padding: 20px;
}

#bR
{
	 position:absolute;
	 left: 490px;
	 top: 660px;
	 padding: 20px;
}

#te
{
	position: absolute;
	top:20px;
	left: 220px;
	font-weight: bold;
}