#sec41
{
	background-color: #405B9A;
    padding: 100px;
	position: absolute;
	top:400px;
	left: 430px;
	padding-bottom: 150px;
	border-radius: 20px;
	padding-right: 100px;
	

}

.color
{
	padding: 50px;
}




input {
  margin-left:10em;
  line-height:1.4em;
  margin-bottom:.2em;
}

label {
  position:absolute;
  font-size:90%;
  padding-top:.2em;
  right:550px;
}


#b41
{
	position: absolute;
	padding: 20px;
	left: 380px;
	 top: 600px;
}

#ap
{
	position: absolute;
	left: 160px;
	top: 350px;
	padding: 25px;
	
}

#sect
{
	padding: 100px;
	padding-right: 600px;
	position: absolute;
	top:300px;
	left: 300px;
	background-color: #405B9A;
}

.gauche
{
	float: left;
}

.pad
{
	position: absolute;
	left: 300px;
}

.pad1
{
	position: absolute;
	left: 320px;
	top:150px;
}

#pad2
{
	position: absolute;
	top: 250px;
	left: 700px;
	padding: 20px;
}