div
{
	text-align: center;
}
header
{
	background-color: white;
	position: fixed;
	z-index: 2;
	padding-right: 185px;

	
}



#i1
{
	padding-right: 400px;
}


#i2
{

	
padding-left: 300px;	
	
}


img
{
	width: 150px;
	height: 150px;
	
}




#menu3
{
		background-image: url(http://www.objectifconcours.com/wp-content/uploads/2015/01/Espace-etudiant.png);
	   
	    height: 3500px;
	    width: 1500px;
	    background-size: 2000px;
}

footer
{
	
	background-color: #979A99;
	width: 1500px;



}

#esig
{
	padding-left: 60px;
	
	
}

#para
{
	
  margin-left: 700px;
}
#sec5
{
	background-color: white;
    padding: 400px;
	position: absolute;
	top:400px;
	left: 300px;
	padding-bottom: 150px;
	border-radius: 20px;
	padding-right: 400px;
}
.droite
{
	float: right;
	position: absolute;
	top: 20px;
	left: 590px;
}
.p1
{
	position: absolute;
	bottom: 450px;
	left: 100px;
	font-weight: bold;
	font-size: 	20px;
	font-style: italic;
}
